<h1> Battle of the Star Signs! </h1>

<h2> Sign in to play! </h2>

<form action='/names' method='post'>
  Player One name: <input type='text' name='player_one_name'>
  Player Two name: <input type='text' name='player_two_name'>
  <input type='submit' value='Submit'>
</form>
