<h2>Multi-Player</h2>
<form action="/names" method="post">
  Player 1: <br><input type="text" name="player_1" id="multi-player_1"><br>
  Player 2: <br><input type="text" name="player_2" id="multi-player_2"><br>
  <input type="submit" name="submit" value="submit">
</form>

<h2>Single-Player</h2>
<form action="/names" method="post">
  Player 1:<br><input type="text" name="player_1" id="single-player"><br>
  <input type="hidden" name="player_2" value="Computer">
  <input type="submit" name="Single-Player" value="Single-Player">
</form>
