
<h1> <%= @player1 %> vs <%= @player2 %> </h1>
<h3><%= @player2 %>'s Hit Points</h3>
<a href='/attack'>Attack</a>
<!-- <form action='/attack' method='get'>
  <input type='submit' value='Attack'>
</form> -->
