
<%= @player1.name %> vs <%= @player2.name %>
<%= @player2.name %>'s Hit Points: <%= @player2.hit_points %>
<a href='/attack'>Attack</a>
<!-- <form action='/attack' method='get'>
  <input type='submit' value='Attack'>
</form> -->
