
<%= @game.current_player.name %> vs <%= @game.opponent.name %>

<BR>

It is <%= @game.current_player.name %>'s turn

<BR>

<form action='/attack' method='get'>
  <input type='submit' value='Attack'>
</form>
